* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(3, 13, 58);
    color: white;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: rgb(18, 6, 126);
}

nav ul {
    display: flex;
    justify-content: space-around;

}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

nav ul li a:hover {
    color: rgb(207, 172, 240);
    font-size: 1.01rem;
}

main hr {
    border: 0;
    background: #9c97f1;
    height: 1.2px;
    margin: 40px 84px;
}

.left {
    font-size: 1.5rem;
    font-weight: bold;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 60px 0.5px;
}

.firstSection>div {
    width: 30%;
}

.leftSection {
    font-size: 2rem;
}

.rightSection img {
    width: 90%;
    border-radius: 50%;
    margin: 5px 0;
}

.purple {
    color: rgb(163, 93, 228);
    font-weight: bold;
}

#element {
    color: rgb(163, 93, 228);
    font-weight: bold;
}

.resume,
.github {
    background-color: rgb(18, 18, 124);
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}

.resume:hover,
.github:hover {
    color: white;
    font-size: 1.01rem;
}